.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.936523;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.936523;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-15.656759px;}
._2{margin-left:-12.236400px;}
._5{margin-left:-7.491760px;}
._3{margin-left:-6.473520px;}
._1{margin-left:-4.811400px;}
._4{margin-left:-3.192094px;}
._0{margin-left:-1.574640px;}
.fc3{color:rgb(0,0,255);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(64,84,73);}
.fc0{color:rgb(59,69,64);}
.fs5{font-size:80.000000px;}
.fs1{font-size:87.480003px;}
.fs4{font-size:99.959999px;}
.fs2{font-size:110.000000px;}
.fs6{font-size:132.479996px;}
.fs3{font-size:202.479996px;}
.fs0{font-size:222.479996px;}
.y0{bottom:0.000000px;}
.y3e{bottom:85.668999px;}
.y2a{bottom:116.910805px;}
.y3d{bottom:121.288996px;}
.y29{bottom:149.410807px;}
.y3b{bottom:158.747705px;}
.y3f{bottom:162.631067px;}
.y3c{bottom:166.633860px;}
.y16{bottom:178.051071px;}
.y1e{bottom:178.695663px;}
.y28{bottom:191.037333px;}
.y10{bottom:212.926071px;}
.y15{bottom:213.671066px;}
.y1d{bottom:214.315659px;}
.yf{bottom:248.546066px;}
.y14{bottom:249.291061px;}
.y1c{bottom:249.935654px;}
.y7{bottom:260.504257px;}
.y44{bottom:265.406061px;}
.y27{bottom:266.707741px;}
.ye{bottom:284.166061px;}
.y13{bottom:284.911064px;}
.y1b{bottom:285.555656px;}
.y37{bottom:288.532280px;}
.y3a{bottom:288.532310px;}
.y6{bottom:296.124252px;}
.y26{bottom:299.207741px;}
.yd{bottom:319.786064px;}
.y12{bottom:320.531061px;}
.y1a{bottom:321.175653px;}
.y36{bottom:324.152277px;}
.y39{bottom:324.152308px;}
.y43{bottom:326.336845px;}
.y25{bottom:331.707743px;}
.y5{bottom:331.744247px;}
.yc{bottom:355.406061px;}
.y34{bottom:361.264368px;}
.y42{bottom:361.956842px;}
.y38{bottom:362.799280px;}
.y4{bottom:367.364250px;}
.y35{bottom:369.497110px;}
.y19{bottom:370.288965px;}
.y24{bottom:373.334208px;}
.y11{bottom:375.815704px;}
.y3{bottom:402.984247px;}
.yb{bottom:410.185707px;}
.y18{bottom:415.633799px;}
.y41{bottom:435.430161px;}
.ya{bottom:444.555704px;}
.y30{bottom:455.775528px;}
.y33{bottom:491.395515px;}
.y2f{bottom:491.395531px;}
.y23{bottom:494.481180px;}
.y2{bottom:503.709915px;}
.y40{bottom:504.800167px;}
.y32{bottom:527.015512px;}
.y2e{bottom:527.015528px;}
.y22{bottom:536.107584px;}
.y9{bottom:543.277786px;}
.y31{bottom:563.280481px;}
.y2c{bottom:564.767282px;}
.y2d{bottom:572.360437px;}
.y1{bottom:573.079922px;}
.y8{bottom:612.647793px;}
.y21{bottom:626.873604px;}
.y17{bottom:641.030704px;}
.y2b{bottom:684.647793px;}
.y20{bottom:689.993607px;}
.y1f{bottom:710.856689px;}
.h6{height:57.968750px;}
.h2{height:63.388831px;}
.h5{height:72.431952px;}
.h3{height:79.707031px;}
.h7{height:95.996247px;}
.h4{height:146.718903px;}
.h1{height:161.211091px;}
.h0{height:810.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x9{left:71.214874px;}
.x3{left:78.128967px;}
.xf{left:92.735295px;}
.xe{left:93.763767px;}
.xb{left:96.051400px;}
.xc{left:150.679687px;}
.xa{left:203.460938px;}
.x8{left:242.712891px;}
.x4{left:413.425812px;}
.x1{left:615.257812px;}
.x2{left:618.128906px;}
.x7{left:736.734314px;}
.x5{left:748.722595px;}
.xd{left:803.718811px;}
.x6{left:1084.019409px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-20.875679pt;}
._2{margin-left:-16.315200pt;}
._5{margin-left:-9.989013pt;}
._3{margin-left:-8.631360pt;}
._1{margin-left:-6.415200pt;}
._4{margin-left:-4.256125pt;}
._0{margin-left:-2.099520pt;}
.fs5{font-size:106.666667pt;}
.fs1{font-size:116.640004pt;}
.fs4{font-size:133.279999pt;}
.fs2{font-size:146.666667pt;}
.fs6{font-size:176.639994pt;}
.fs3{font-size:269.973328pt;}
.fs0{font-size:296.639994pt;}
.y0{bottom:0.000000pt;}
.y3e{bottom:114.225332pt;}
.y2a{bottom:155.881073pt;}
.y3d{bottom:161.718661pt;}
.y29{bottom:199.214409pt;}
.y3b{bottom:211.663607pt;}
.y3f{bottom:216.841423pt;}
.y3c{bottom:222.178480pt;}
.y16{bottom:237.401428pt;}
.y1e{bottom:238.260885pt;}
.y28{bottom:254.716443pt;}
.y10{bottom:283.901428pt;}
.y15{bottom:284.894755pt;}
.y1d{bottom:285.754211pt;}
.yf{bottom:331.394755pt;}
.y14{bottom:332.388082pt;}
.y1c{bottom:333.247538pt;}
.y7{bottom:347.339010pt;}
.y44{bottom:353.874748pt;}
.y27{bottom:355.610321pt;}
.ye{bottom:378.888082pt;}
.y13{bottom:379.881419pt;}
.y1b{bottom:380.740875pt;}
.y37{bottom:384.709707pt;}
.y3a{bottom:384.709747pt;}
.y6{bottom:394.832336pt;}
.y26{bottom:398.943654pt;}
.yd{bottom:426.381419pt;}
.y12{bottom:427.374748pt;}
.y1a{bottom:428.234205pt;}
.y36{bottom:432.203036pt;}
.y39{bottom:432.203077pt;}
.y43{bottom:435.115794pt;}
.y25{bottom:442.276990pt;}
.y5{bottom:442.325663pt;}
.yc{bottom:473.874748pt;}
.y34{bottom:481.685824pt;}
.y42{bottom:482.609123pt;}
.y38{bottom:483.732374pt;}
.y4{bottom:489.819000pt;}
.y35{bottom:492.662814pt;}
.y19{bottom:493.718620pt;}
.y24{bottom:497.778943pt;}
.y11{bottom:501.087606pt;}
.y3{bottom:537.312330pt;}
.yb{bottom:546.914276pt;}
.y18{bottom:554.178398pt;}
.y41{bottom:580.573547pt;}
.ya{bottom:592.740939pt;}
.y30{bottom:607.700704pt;}
.y33{bottom:655.194021pt;}
.y2f{bottom:655.194041pt;}
.y23{bottom:659.308240pt;}
.y2{bottom:671.613220pt;}
.y40{bottom:673.066889pt;}
.y32{bottom:702.687350pt;}
.y2e{bottom:702.687370pt;}
.y22{bottom:714.810112pt;}
.y9{bottom:724.370382pt;}
.y31{bottom:751.040642pt;}
.y2c{bottom:753.023043pt;}
.y2d{bottom:763.147250pt;}
.y1{bottom:764.106562pt;}
.y8{bottom:816.863724pt;}
.y21{bottom:835.831472pt;}
.y17{bottom:854.707606pt;}
.y2b{bottom:912.863724pt;}
.y20{bottom:919.991475pt;}
.y1f{bottom:947.808919pt;}
.h6{height:77.291667pt;}
.h2{height:84.518441pt;}
.h5{height:96.575937pt;}
.h3{height:106.276042pt;}
.h7{height:127.994996pt;}
.h4{height:195.625204pt;}
.h1{height:214.948121pt;}
.h0{height:1080.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x9{left:94.953166pt;}
.x3{left:104.171956pt;}
.xf{left:123.647060pt;}
.xe{left:125.018356pt;}
.xb{left:128.068534pt;}
.xc{left:200.906250pt;}
.xa{left:271.281250pt;}
.x8{left:323.617187pt;}
.x4{left:551.234416pt;}
.x1{left:820.343750pt;}
.x2{left:824.171875pt;}
.x7{left:982.312419pt;}
.x5{left:998.296794pt;}
.xd{left:1071.625081pt;}
.x6{left:1445.359212pt;}
}
